/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font: 87.5%/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    padding: 2rem;
}
